*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol{
	list-style: none;
}

body{
	background-color: darkcyan;
	color: #fff;
}

.timeline ul li{
	position: relative;
	width: 50%;
}

.timeline::before{
	content: "";
	position: absolute;
	height: 80%%;
	width: 4px;
	background-color: #fff;
	left: 50%;
	top: 10%;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}

.timeline ul li:nth-child(odd) .content{
	margin-right: 100px;
}

.timeline ul li:nth-child(even) .content{
	margin-left: 100px;
}

.timeline ul li:nth-child(odd)::before{
	content: "";
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	right: -79px;
	top: 50%;
	transform: translate(0%, -50%);
	border: 4px solid #fff;
}

.timeline ul li:nth-child(even)::before{
	content: "";
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	left: -79px;
	top: 50%;
	transform: translate(0%, -50%);
	border: 4px solid #fff;
}

.content{
	padding: 50px 0px;
}

.content h2{
	font-size: 25px;
	margin-bottom: 10px;
}

.content p{
	font-size: 14px;
}
